<a href="https://colab.research.google.com/github/paudelsushil/geog-312/blob/main/googleCollab/lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [1]:
# New York City location coordinate
latitude = 40.7128
longitude = -74.0060

# New York City Population
NYC_Pop = 8336817

# New York City Area in square kilometer
NYC_AreaKm2 = 783.8

# Calculate and Print the population density of NYC
print(f"Polpulation density of New York City is {(NYC_Pop/NYC_AreaKm2)//1} people per square kilometer.")

# Print the coordinates of NYC
print(f"Latitude: {latitude}, Longitude: {longitude}")

Polpulation density of New York City is 10636.0 people per square kilometer.
Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [2]:
# Create a string variable to store the name of a city, such as "San Francisco".
city = "San Francisco"

# 1. Convert the string to lowercase and print the result.
print(city.lower())

# 2. Convert the string to uppercase and print the result.
print(city.upper())

# 3. Replace "San" with "Los" in the city name and print the new string.
print(city.replace("San", "Los"))

san francisco
SAN FRANCISCO
Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [16]:
# Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

citiesCoord = [("New york City", 40.7128, -74.0060),
              ("Los Angeles", 34.0522, -118.2437),
              ("Chicago", 41.8781, -87.6298)
              ]



# 1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
citiesCoord.append(("Miami", 25.7617, -80.1918))

# 2. Print the entire list of cities.
print("Updated cities list:", citiesCoord)

# 3. Slice the list to print only the first two cities.
print(citiesCoord[:2])

Updated cities list: [('New york City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437), ('Chicago', 41.8781, -87.6298), ('Miami', 25.7617, -80.1918)]
[('New york City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [4]:
latLonEiffleTower = (48.8584, 2.2945)
latEiffelTower, lonEiffelTower = latLonEiffleTower

print(f"latitude: {latEiffelTower}, longitude: {lonEiffelTower}")

# 2. Try to change the latitude value to 48.8585. What happens? Explain why.
try:
    latEiffelTower[0] =  48.8585
except TypeError as er:
    print(f"It can not be updated because 'Tuples' are immutable, so we cannot change its values once it is created.")

latitude: 48.8584, longitude: 2.2945
It can not be updated because 'Tuples' are immutable, so we cannot change its values once it is created.

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [15]:
countries = set(["USA", "France", "Germany"])

# 1. Add a new country to the set.
countries.add("Nepal")

# 2. Try to add the same country again. What happens?
countries.add("Nepal")

# 3. Print the updated set.
print("Updated set of countries:", countries) # This is because 'Set' do not allow duplicates.

Updated set of countries: {'Nepal', 'France', 'Germany', 'USA'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [14]:
river = {"Name": "Amazon River",
"Length": 6400,
"Countries": ["Brazil", "Peru", "Colombia"]}

print(river)
# 1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).
river["average_discharge"] = 209000

# 2. Update the length of the river to 6992 km.
river["Length"] = 6992

# 3. Print the dictionary.
print("Updated 'river' feature:", river)

{'Name': 'Amazon River', 'Length': 6400, 'Countries': ['Brazil', 'Peru', 'Colombia']}
Updated 'river' feature: {'Name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Colombia'], 'average_discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [7]:
# Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

city = {"Name": "Tokyo",
"Population": 13515271,
"Coordinates": (35.6895, 139.6917)
}

# 1. Access and print the population of the city.
print(city["Population"])

# 2. Access and print the city's latitude.
print(city["Coordinates"][0])

# 3. Update the population to 14,000,000 and print the updated dictionary.
city["Population"] = 14000000

print(f"Updated dictionary: {city}")

13515271
35.6895
Updated dictionary: {'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [8]:
citiesCoord.sort()
print("Sorted citiesCoord by alphabet:", citiesCoord)

cityNames = [City[0] for City in citiesCoord]
print("City names:", cityNames)

citiesCoord.pop()
print("Updated cities list:", citiesCoord)

Sorted citiesCoord by alphabet: [('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437), ('Miami', 25.7617, -80.1918), ('New york City', 40.7128, -74.006)]
City names: ['Chicago', 'Los Angeles', 'Miami', 'New york City']
Updated cities list: [('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437), ('Miami', 25.7617, -80.1918)]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [9]:
# 1. Check if the key "Length" exists in the dictionary.
if "Length" in river.keys():
    print("key 'Length' exists!")
else:
    print("key 'Length' does not exists!")

# 2. Print all the keys in the dictionary.
print(river.keys())

# 3. Print all the values in the dictionary.
print(river.values())

key 'Length' exists!
dict_keys(['Name', 'Length', 'Countries', 'average_discharge'])
dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [10]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [12]:
# 1. Create a new list that contains only the names of the locations.
locationsNames = [location[0] for location in locations]

# 2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
locationsDict = {location[0]:(location[1], location[2]) for location in locations}

# 3. Print the latitude of "K2" using the dictionary.
print("'K2' Latitude is:", locationsDict["K2"][0])

'K2' Latitude is: 35.8808